/**
 * Resetear los valores que traen por defecto los navegadores.
 */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * :root es una forma de crear variables en css y a esta variables asignarles colores.
 * La ventaja es que si realizo un cambio, se cambiaran todos los estilos en los que declare el nombre.
 * Para utilizar estas variables, se debe escribir var() y dentro de los parentesis el nombre junto con los guiones --.
 */
:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #198754;
    --gris: #b5b2b2;
}

/**
 * linear-gradient() es una propiedad para crear un degradado de forma manual.
 * Como parametro se debe indicar desde que posicion comenzara a degradarse y luego los colores que se utilizaran.
 * 100vh es el tamaño en que se vera el degradado, para este caso, sera el 100% del Viewport Height.
 * Se declara la fuente que esta siendo llamada desde google fonts.
 */
body {
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/****** SECCCION TITULO ******/
main {
    padding-top: 50px;
}

.container-titulo {
    background-color: var(--white);
    /* para vistas en moviles, maximo el 80% */
    max-width: 80%; 
    width: 400px;
    /* height: 600px; */
    /* dejo el margen en auto para que se centre el contenido. */
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dia {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}

.perfil {
    /* display: flex;
    align-items: center; */
    text-align: center;
    margin: 20px 0 20px 0;
}

.agregar-tarea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.agregar-tarea i {
    font-size: 45px;
    color: var(--purple);
}

.agregar-tarea i:hover {
    transform: scale(1.1);
    /* cambia la flecha por la manito. */
    cursor: pointer;
}

#input-tarea {
    padding: 10px;
    border-radius: 4px;
    width: 70%;
    border: var(--green) solid 1px;
}

/****** SECCCION TAREAS ******/
.container-tarea {
    background-color: var(--white);
    /* para vistas en moviles, maximo el 80% */
    max-width: 80%; 
    width: 400px;
    /* height: 600px; */
    /* dejo el margen en auto para que se centre el contenido. */
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
}
.seccion-tarea > h3 {
    margin-bottom: 20px;
}
.seccion-tarea > ul > li {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 4px;
    /* background: var(--green); */
    margin: 10px;
    border: var(--blue-dark) solid 1px;
}
.seccion-tarea i {
    font-size: 18px;
}
.seccion-tarea i:hover {
    transform: scale(1.1);
    /* cambia la flecha por la manito. */
    cursor: pointer;
}
.fa-check-circle {
    color: var(--green);
}
.text {
    margin-left: 10px;
}
.fa-trash {
    margin-left: auto;
}

/* subrayar una tarea completa. */
.subrayar {
    text-decoration: line-through 2px;
    color: var(--green);
    /* color: var(--white); */
}
.oscurecer-fondo {
    background-color: var(--gris);
}
/* #mensaje {
    display: none;
} */